@{
    var header = new HeaderViewModel { Title = "Lista de Categorias", ButtonText = "Cadastrar", ControllerToGo = "Categorias" };
}

<partial name="_header" model="@header" />

<div class="row">
    <div class="col">
        <div id="tableCategorias"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/jsCategorias.js"></script>
}