@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-0">
    <div class="col text-center">
        <h3 class="text-danger" id="gastoTotal"></h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <div class="form-group">
            <label>Mes Análise</label>
            <input type="month" class="form-control" id="MesAno" value="@DateTime.Now.ToString("yyyy-MM")" />
        </div>
    </div>
</div>

<div class="row mb-2" id="rowDash">
</div>

@section Scripts {
    <script src="~/js/jsdash.js?dt=@DateTime.Now.ToString("yyyyMMddHHmmss")" asp-append-version="true"></script>
}