@{
    var header = new HeaderViewModel { Title = "Cadastrar Lancamento", ButtonText = "Voltar", ControllerToGo = "Lancamentos" };
}
@model HouseControl.Domain.Entities.Lancamento

<partial name="_header" model="@header" />

<form asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="row mb-2">
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label>Nome da Categoria</label>
                    <select class="form-control form-control-lg" asp-for="CategoriaId" asp-items="(SelectList)@ViewBag.categorias" autofocus>
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label>Descrição</label>
                    <input class="form-control form-control-lg" asp-for="Descricao"/>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="form-group">
                    <label>Data</label>
                    <input class="form-control form-control-lg" asp-for="DtLancamento"/>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="form-group">
                    <label>Valor R$</label>
                    <input class="form-control form-control-lg" asp-for="Valor"/>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="form-group">
                    <label>Parcela</label>
                    <input class="form-control form-control-lg" asp-for="Parcela" value="0"/>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="form-group">
                    <label>Total de Parcelas</label>
                    <input class="form-control form-control-lg" asp-for="TotalParcelas" value="0"/>
                </div>
            </div>
        </div>

    <div class="row mb-2">
        <div class="col">
            <button type="submit" class="btn btn-outline-warning me-2" accesskey="a">
                <i class="fad fa-edit me-2"></i>
                Alterar
            </button>

            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="fad fa-backward"></i>
                Voltar
            </a>
        </div>
    </div>

</form>