@{
    var header = new HeaderViewModel { Title = "Remover Lancamento", ButtonText = "Voltar", ControllerToGo = "Lancamentos" };
}
@model HouseControl.Domain.Entities.Lancamento

<partial name="_header" model="@header" />

<form asp-action="Remover" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="row mb-2">
        <div class="col-12 col-xl-4">
            <div class="form-group">
                <label>Nome da Categoria</label>
                <select class="form-control form-control-lg" asp-for="CategoriaId" asp-items="(SelectList)@ViewBag.categorias" autofocus disabled>
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>Data</label>
                <input class="form-control form-control-lg" asp-for="DtLancamento" disabled />
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>Valor R$</label>
                <input class="form-control form-control-lg" asp-for="Valor" disabled />
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>Parcela</label>
                <input class="form-control form-control-lg" asp-for="Parcela" value="0" disabled  />
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>Total de Parcelas</label>
                <input class="form-control form-control-lg" asp-for="TotalParcelas" value="0" disabled />
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button type="submit" class="btn btn-outline-danger me-2" accesskey="r">
                <i class="fad fa-trash me-2"></i>
                Remover
            </button>

            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="fad fa-backward"></i>
                Voltar
            </a>
        </div>
    </div>

</form>